$noteWidth: 300px;

.generalFilter {
    border: 3px solid black;
    text-align: center;
    height: 30px;
    width: 100%;
}

.simple-filter {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    border: 1px dotted green;
}

.addTodo {
    margin-left: $noteWidth/5;
}

.color {
    left: $noteWidth - 65px;
    position: absolute;
    top:0;
}

.delete {
    left: $noteWidth - 20px;
    position: absolute;
    top:0;
}

.todoFilter {
    text-align: center;
}

.note {
    border: 2px solid black;
    box-sizing: border-box;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    position: relative;
    width: $noteWidth;
}

.notes {
    float: left;
}

.todo {
    display: inline-block;
    padding-left: 10px;
    width: $noteWidth - 100px;
}

.textEditor {
    margin-left: 50px;
    position:relative;
}

.title {
    text-align: center;
}

.div-break {
    clear: both;
}

.app-title {
    //float: left;
    //margin-left: 50px;
    //font-size: 50px;
    //height: 100%;
    font-size: 15px;
}

.undo-redo {
    //width: 35px;
    //height: 35px;
    //margin-left: 50px;
}

.undo-redo-container {
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}
