$noteWidth: 300px;

.text-search-input {
    width: 90%;
    height: 30px;
}

.simple-filter {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.add-todo {
    margin-left: $noteWidth/5;
}

.color {
    left: $noteWidth - 65px;
    position: absolute;
    top: 15px;
}

.delete {
    left: $noteWidth - 20px;
    position: absolute;
    top:0;
}

.todoFilter {
    text-align: center;
}

.note {
    // text-align: center;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
    // float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    position: relative;
    width: $noteWidth;
}

.notes {
    // float: left;
    display: inline-block;
}

.add-notes {
    text-align: center;
    display: block;
    width: 29%;
    float:left;
}

.todo {
    display: inline-block;
    padding-left: 10px;
    width: $noteWidth - 100px;
}

.textEditor {
    // margin-left: 50px;
    // position:relative;
}

.text-search-container {
    width: 40%;
    height: 30px;
    display: inline-block;
}

.title {
    text-align: center;
}

.div-break {
    clear: both;
}

.app-title {
    font-size: 50px;
}

.app-title-container {
    width: 29%;
    height: 30px;
    display: inline-block;
}

.undo-redo-container {
    width: 29%;
    height: 30px;
    display: inline-block;
    text-align: center;

    *.button {
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
}

.notes-container {
    border: 1px dotted red;
    display: inline-block;
    width: 70%;
    float: left;
    text-align: center;
}
